$primary-nav: #1e1e1e;
$secondary-nav: indianred;

$std-background: rgb(238, 238, 238);

$borders-std: #1e1e1e;
$borders-std-focused: indianred;

$btn-std: #1e1e1e;
$btn-std-focused: indianred;

$form-solid-background: #1e1e1e;
$form-opal-background: rgba(32,32,32,.3);

$card-solid-background: #1e1e1e;
$card-opal-background: rgba(32,32,32,.3);

$std-text-dark: black;
$std-text-light: rgb(238, 238, 238);