.odin-login-form{
    height: 500px;
    width: 380px;

    background-color: $form-opal-background;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid $borders-std;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    img{
        max-height: 100px;
    }

    &-section{
        height: 30%;
        width: 100%;
        min-height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    &-in-text{
        width: 80%;
        height: 35px;

        border-radius: 8px;

        padding-left: 5px;
    }

    &-in-text:focus{
        border-color: $borders-std-focused;
        box-shadow: $borders-std-focused 10px 5px 5px;
    }

    &-btn{
        width: 35%;
        min-width: 100px;
        height: 40px;
        border-radius: 10px;
        transition: background-color .4s;
    }

    &-btn:hover{
        background-color: $btn-std-focused;
        cursor: pointer;
    }
    
}

.odin-machine-list-card{
    height: 100px;
    width: 70%;

    min-width: 550px;
    max-width: 800px;

    background-color: $card-opal-background;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    border: 1px solid $borders-std;
    border-radius: 5px;

    margin: 10px;

    &-img{
        height: 100%;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 80%;
        }
    }

    &-section-long{
        height: 100%;
        width: 35%;
        min-width: 150px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        padding: 5px;

        border-right: 1px solid $borders-std;
        box-shadow: $borders-std-focused 5px;
    }
    &-section-short{
        height: 100%;
        width: 20%;
        min-width: 80px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        padding: 5px;

        border-right: 1px solid $borders-std;
        box-shadow: $borders-std-focused 5px;
    }
    &-section-long:last-child{
        height: 100%;
        width: 35%;
        min-width: 150px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        padding: 5px;

        border-right: 0px solid $borders-std;
        box-shadow: $borders-std-focused 5px;
    }
    &-section-short:last-child{
        height: 100%;
        width: 35%;
        min-width: 150px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        padding: 5px;

        border-right: 0px solid $borders-std;
        box-shadow: $borders-std-focused 5px;
    }
    &-par-container{
        height: 30px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        margin-bottom: 5px;

    }
    &-par-title{
        font-weight: bold;
        color: $std-text-dark;

        margin-right: 10px;
    }
    &-par-value{
        color: $std-text-light;
    }
}

