$primary-nav: #a9b8c3;
$secondary-nav: #cf2e2e;
$tertiary-nav: rgb(238, 238, 238);

$std-background: rgb(238, 238, 238);

$borders-std: #1e1e1e;
$borders-std-focused: #cf2e2e;

$btn-std: #1e1e1e;
$btn-std-focused: #cf2e2e;

$form-solid-background: #a9b8c3;
$form-opal-background: rgba(32,32,32,.3);

$card-solid-background: #a9b8c3;
$card-opal-background: rgba(32,32,32,.3);

$std-text-dark: #a9b8c3;
$std-text-light: rgb(238, 238, 238);